<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.srkstudios.dynamic_app_icon_changer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name=".IconStateRecoveryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ScheduledIconReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.srkstudios.dynamic_app_icon_changer.ACTION_SCHEDULE_START" />
                <action android:name="com.srkstudios.dynamic_app_icon_changer.ACTION_SCHEDULE_END" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
